body {
    font-family: "Arial", sans-serif;
}




.Maronite{
    fill: red;
}

.Shia{
    fill: green;
}
#barchart {
    box-sizing: border-box;
    z-index: 5;
    width: 100%;
    height: 50%;
    /*border: 3px solid grey;*/

}
.barChartTitle{
    font-size:1vw;
    padding:1px; 
}
.small-district-counter{
    text-indent: 2em;
    opacity: 0;
}