body {
    font-family: "Arial", sans-serif;
}

.legend-div {
    vertical-align: top;
    display: inline-block;
}
.Maronite {
    fill: red;
    background-color: red;
}
.Alawite{
    fill: gold;
    background-color: gold;
}
}
.Minorities{
  fill: green;
    background-color: green;
}

.Evangelical{
  fill: green;
    background-color: green;
}
.Sunni {
    fill: blue;
    background-color: blue;
}
.RomanOrthodox {
    fill: orange;
    background-color: orange;
}
.RomanCatholic {
    fill: yellow;
    background-color: yellow;
}
.Druze {
    fill: cyan;
    background-color: cyan;
}
.sectLegend {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-left: 5px;
    vertical-align: bottom;
    border: black 1px;
}

.Shia {
    fill: green;
    background-color: green;
}
.ArmenianOrthodox{
  fill:pink;
  background-color: pink;

}
.ArmenianCatholic{
  fill:gold;
  background-color: gold;

}



#barchart {
    box-sizing: border-box;
    z-index: 5;
    width: 100%;
    height: 50%;
    /*border: 3px solid grey;*/
}
.barChartTitle {
    font-size: 1vw;
    padding: 5px;
}
.small-district-counter {
    text-indent: 2em;
}
.unavailable {
    opacity: 0.5 !important;
    fill: grey !important;
}
.candidateName {
    fill: black !important;
}
.css-typing-2 div {
    font-family: "Courier";
    font-size: 12px;
    white-space: nowrap;
    overflow: hidden;
}
/*css-typing-2 div:nth-child(1) {
  -webkit-animation: type 2s steps(40, end);
  animation: type 2s steps(40, end);
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.css-typing-2 div:nth-child(2) {
  opacity: 0;
  -webkit-animation: type2 2s steps(40, end);
  animation: type2 2s steps(40, end);
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.css-typing-2 div:nth-child(3) {
  width: 100%;
  opacity: 0;
  -webkit-animation: type3 2s steps(20, end), blink .5s step-end infinite alternate;
  animation: type3 2s steps(20, end), blink .5s step-end infinite alternate;
  -webkit-animation-delay: 4s;
  animation-delay: 4s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.css-typing-2 div:nth-child(4) {
  width: 40%;
  opacity: 0;
  -webkit-animation: type3 2s steps(20, end), blink .5s step-end infinite alternate;
  animation: type3 2s steps(20, end), blink .5s step-end infinite alternate;
  -webkit-animation-delay: 6s;
  animation-delay: 6s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.css-typing-2 div:nth-child(5) {
  width: 40%;
  opacity: 0;
  -webkit-animation: type3 2s steps(20, end), blink .5s step-end infinite alternate;
  animation: type3 2s steps(20, end), blink .5s step-end infinite alternate;
  -webkit-animation-delay: 8s;
  animation-delay: 8s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.css-typing-2 div:nth-child(6) {
  width: 40%;
  opacity: 0;
  -webkit-animation: type3 2s steps(20, end), blink .5s step-end infinite alternate;
  animation: type3 2s steps(20, end), blink .5s step-end infinite alternate;
  -webkit-animation-delay: 10s;
  animation-delay: 10s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.css-typing-2 div:nth-child(7) {
  width: 40%;
  opacity: 0;
  -webkit-animation: type3 2s steps(20, end), blink .5s step-end infinite alternate;
  animation: type3 2s steps(20, end), blink .5s step-end infinite alternate;
  -webkit-animation-delay: 12s;
  animation-delay: 12s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.css-typing-2 div:nth-child(8) {
  width: 40%;
  opacity: 0;
  -webkit-animation: type3 2s steps(20, end), blink .5s step-end infinite alternate;
  animation: type3 2s steps(20, end), blink .5s step-end infinite alternate;
  -webkit-animation-delay: 14s;
  animation-delay: 14s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.css-typing-2 div:nth-child(9) {
  width: 40%;
  opacity: 0;
,
}*/

.animate-p {
    animation: typewriter 4s steps(44) 1s 1 normal both,
        blinkTextCursor 500ms steps(44) infinite normal;
}
.animate-p p{
    font-size: 12px;
    margin: 1px;
}
@keyframes typewriter {
    from {
        width: 0;
    }
    to {
        width: 24em;
    }
}
@keyframes blinkTextCursor {
    from {
        border-right-color: black;
    }
    to {
        border-right-color: transparent;
    }
}