#histdiv {
    box-sizing: border-box;
    z-index: 5;
    width: 100%;
    height: 50%;
    border: 3px solid grey;
}

@media (min-width: 768px) {
    #histdiv {
        width: 100%;
    }
}
@media (max-width: 767px) {
    #histdiv {
        width: 100%;
    }
}

#hist{
  position: relative;
  width: 100%;
  height: 100%;
  background-color:white;

}
.bar {
  fill: #4ABDAC;
}

.bar:hover {
opacity: 0.5;
cursor: pointer;
}


@media screen and (min-width: 400px) {
 .axis {
  font: 3vw sans-serif;
}
}
@media screen and (min-width: 1000px) {
 .axis {
  font: 0.7vw sans-serif;
}
}


.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none*;
}

.histogramLegendX{
  transform: rotate(10deg);

}
