
    #mapContainer{
        font-size: 0.7vw;
    }
   
    #mapsvg{
        position:absolute;
        width:100%;
        height: auto;
    }

      .bigDistrict{
        fill:none;
        stroke: black;
        stroke-width:0; 
        opacity: 0.6
      }
      .bigDistrict:hover{
        opacity: 0.1;
        cursor: pointer;
      }
      .smallDistrict{
        fill:none;
        stroke: lightgrey;
        stroke: 0.1
      }
    .entireCountry{
        fill:none;
        stroke: black   
    }

   
    .districtName {
        fill: black;
        fill-opacity: .5;
        text-anchor: middle;
        font-weight: bold;
        cursor: pointer
    }
